{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": ["import"],
  "extends": ["react-app", "airbnb-base"],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "import/extensions": ["error", "never"],
    "quotes": ["error", "double"],
    "linebreak-style": ["error", "unix"],
    "react/react-in-jsx-scope": "off",
    "no-console": "warn",
    "comma-dangle": ["warn", "never"],
    "max-len": [
      "error",
      {
        "code": 80,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "object-curly-newline": "off",
    "react/prop-types": "off",
    "operator-linebreak": "off",
    "lines-between-class-members": [
      "error",
      "always",
      { "exceptAfterSingleLine": true }
    ]
  }
}
