{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": ["import", "prettier"],
  "extends": [
    "react-app",
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json"
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["src/tests/**/*", "vite.config.ts"] }
    ],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "import/extensions": ["error", "never"],
    "quotes": ["error", "double"],
    "linebreak-style": ["error", "unix"],
    "react/react-in-jsx-scope": "off",
    "no-console": "warn",
    "comma-dangle": ["warn", "always-multiline"],
    "max-len": ["error", { "code": 80 }],
    "object-curly-newline": "off",
    "react/prop-types": "off",
    "operator-linebreak": "off",
    "lines-between-class-members": [
      "error",
      "always",
      { "exceptAfterSingleLine": true }
    ],
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": false
        }
      }
    ]
  }
}
