@mixin toolbarOrientation($orientation) {
  @if ($orientation ==horizontal) {
    top: 50%;
    transform: translate(0, -50%);
    grid-auto-flow: row;

    .ToolBar_separator {
      width: var(--toolbar-separator-size);
      height: 0;
      border-top-style: solid;
    }
  }

  @else if($orientation ==vertical) {
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.ToolBar {
  background-color: var(--widget-bg-color);
  position: absolute;
  border-radius: var(--widget-border-radius);
  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--toolbar-gap);
  padding: calc(var(--toolbar-gap) / 2);

  &_position {
    &_top {
      top: var(--widget-page-inset);
      @include toolbarOrientation(vertical);
    }

    &_bottom {
      bottom: var(--widget-page-inset);
      @include toolbarOrientation(vertical);
    }

    &_left {
      left: var(--widget-page-inset);
      @include toolbarOrientation(horizontal);
    }

    &_right {
      right: var(--widget-page-inset);
      @include toolbarOrientation(horizontal);
    }
  }

  &_separator {
    height: var(--toolbar-separator-size);
    width: 0;
    border: 1px hidden var(--color-grey-70);
    border-left-style: solid;
    align-self: center;
    justify-self: center;
  }

}