@import "@css/mixins";

.ToolBar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  position: absolute;
  padding: 5px;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  @include widgetStyles;
}

.ToolBarItem {
  background-color: transparent;
  aspect-ratio: 1;
  width: 35px;
  height: 35px;
  display: flex;
  font-size: 15px;
  line-height: 1;
  align-items: center;
  justify-content: center;
  border-radius: 7px;

  svg {
    --icon-color: var(--color-grey-30);
    width: 15px;
    height: 15px;
    stroke: var(--icon-color);
  }

  &:hover {
    background-color: var(--color-grey-80);
  }

  &:active {
    outline: var(--accent-color) solid 1px;
  }

  &:focus-visible {
    outline: var(--accent-color) solid 1px;
  }

  &[data-state="on"] {
    background-color: var(--accent-color-darker);

    svg {
      --icon-color: var(--accent-color);
      fill: var(--icon-color);
    }
  }
}

.Separator {
  background-color: var(--widget-border-color);
  height: 20px;
  width: 2px;
}
