.QuickActionsIsland {
  width: fit-content;
  padding: calc(var(--toolbar-gap) / 2);
  border-radius: var(--widget-border-radius);
  background-color: var(--widget-bg-color);
  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--toolbar-gap);
  position: absolute;
}