.ToolButton {
  width: var(--button-size);
  height: var(--button-size);
  border: none;
  padding: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.ToolButton_type_button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: var(--widget-border-radius);

  svg {
    width: var(--icon-size);
    height: var(--icon-size);
    stroke: var(--icon-stroke-color);
  }

  &:hover {
    background-color: var(--button-hover-bg);
  }

  &:active {
    outline: var(--accent-color) solid 1px;
  }

  &:focus-visible {
    outline: var(--accent-color) solid 1px;
  }
}

.ToolButton_type_radio {
  &--checkbox {
    position: absolute;
    pointer-events: none;
    opacity: 0;

    &:checked + .ToolButton_type_radio--icon {
      background-color: var(--accent-color-darker);

      svg {
        stroke: var(--accent-color);
        fill: var(--accent-color);
      }
    }
  }

  &--icon {
    @extend .ToolButton_type_button;
    width: 100%;
    height: 100%;
  }
}
