@import "./variables";

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

#root {
  background-color: var(--color-grey-100);
}

.app {
  width: 100%;
  height: 100%;
  position: relative;

  .tools {
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;

    * {
      pointer-events: all;
    }
  }
}

// unset global styles

* {
  outline: none;
  overscroll-behaviour: none;
  touch-action: none;
  font-family: "Inter", sans-serif;
}

button,
input,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: none;
}
