:root {
  --accent-color: rgb(61, 132, 255);
  --accent-color-dark: rgb(30, 69, 135);
  --accent-color-darker: rgb(34, 46, 67);

  --color-grey-10: #e5e5e5;
  --color-grey-20: #d6d6d6;
  --color-grey-30: #a5a5a5;
  --color-grey-40: #888888;
  --color-grey-50: #5c5c5c;
  --color-grey-60: #555555;
  --color-grey-70: #3f3f3f;
  --color-grey-80: #2c2c2c;
  --color-grey-90: #1c1c1c;
  --color-grey-100: #111;

  --color-danger-text: #ff0000;
  --color-danger-bg: rgb(255, 0, 0, 0.1);

  --widget-bg: rgb(28, 28, 28, 0.9);
  --widget-border-color: #272727;
}
